<div class="main-left">
	<h2>API</h2>

	<h3>Om API-et</h3>
	<p>blabla</p>
	<h3>Slik gjør du</h3>
	<h3>API-methoder</h3>
	<h3>Slik kan du og ditt bibliotek bidra</h3>
	<h3>API-dokumetasjon</h3>
	<p>Se github for utfyllende dokumentasjon.</p>

</div>
<div class="main-right">
	<%= erb :login %>
</div>