<div class="main-left grid_unit l-grid_unit--span-5">
	<h2>Ops!</h2>
	<p class="error"><strong><%= @error_message %></strong></p>
</div>
<div class="main-right grid_unit l-grid_unit--span-2">
	<%= erb :login %>
</div>