<div class="main-left">
	<h2>Søk opp boka du vil anmelde</h2>
	<div class="isbn-form">
		<label>ISBN
		<% if request.params["isbn"] %>
			<input type="text" name="isbn" id="isbn" disabled="disabled" value="<%= request.params['isbn'] %>">
		<% else %>
			<input type="text" name="isbn" id="isbn">
		<% end %>
		</label>
		<button class="medium red" id="isbn-button">Søk</button>
		<span class="loading-message">Vent litt, søker<span id="loading"></span><span>
	</div>

	<p class="error-small" id="isbn-notfound">
		<strong>Beklager, finner ingen verk kyttet til dette ISBN-nummeret: </strong>
		<span id="isbn-error"></span>
	</p>
	<div id="isbn-results">
		<div class="book-cover" id="isbn-cover"></div>
		<div>
			<p class="isbn-title" id="isbn-title"></p>
			<p class="isbn-author" id="isbn-author"></p>
			<a id ="anmeld" href="" >
				<button  class="long green" style="margin-left:260px">Anmeld denne boka</button>
			</a>
		</div>
	</div>
</div>

<div class="main-right">
	<%= erb :login %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	if ( $("#isbn").val() != "" ) {
		console.log($("#isbn").val());
		$("#isbn-button").trigger('click');
	}
});
</script>