<div class="main-left grid_unit l-grid_unit--span-5">
	<h2>Søk opp boka du vil anbefale</h2>
	<div class="isbn-form">
		<label>ISBN
		<% if @isbn %>
			<input type="text" name="isbn" id="isbn" value="<%= @isbn %>">
		<% else %>
			<input type="text" name="isbn" id="isbn">
		<% end %>
		</label>
		<button class="medium red" id="isbn-button">Søk</button>
		<span class="loading-message">Vent litt, søker<span id="loading"></span><span>
	</div>

	<p class="error-small" id="isbn-notfound">
		<strong>Beklager, finner ingen verk knyttet til dette ISBN-nummeret: </strong>
		<span id="isbn-error"></span>
	</p>
	<div id="isbn-results">
		<div class="book-cover" id="isbn-cover"></div>
		<div>
			<p class="isbn-title" id="isbn-title"></p>
			<p class="isbn-author" id="isbn-author"></p>
			<a id ="anmeld" href="" >
				<button  class="long green" style="margin-left:260px">Anbefal denne boka</button>
			</a>
		</div>
	</div>
</div>

<div class="main-right grid_unit l-grid_unit--span-2">
	<%= erb :login %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	// Søk etter bok via ISBN
	$("#isbn-button").on('click', function(event) {
		var isbn_input = $('#isbn').val();

		if (! /^[0-9-xX\s]*$/.test(isbn_input)) {
			event.preventDefault();
		 	return;
		}

		var request = $.ajax({
		  url: '/work_by_isbn/',
		  type: "GET",
		  data: { isbn: isbn_input },
		  dataType: "json"
		});

		$('#isbn').prop("disabled", true);
		$('.loading-message').show();
		$('#isbn-results').hide()

		request.done(function(data) {
			//$('#isbn').val('');
			$('#isbn').prop("disabled", false);
			$('.loading-message').hide();
			$('#isbn-notfound').hide();
			$('#isbn-author').html(data.authors[0].name);
			if (data.prefTitle) {
				$('#isbn-title').html(data.prefTitle);
			} else {
				$('#isbn-title').html(data.originalfTitle);
			}
			if (data.cover_url) {
				$('.book-cover').removeClass("light-gray");
				$('#isbn-cover').html("<img class='cover' src='"+data.cover_url+"'>");
			} else {
				$('.book-cover').addClass("light-gray");
				$('#isbn-cover').html("");
			}
			$('#anmeld').attr('href', '/ny?isbn=' +isbn_input);
			$('#isbn-results').show()
		});

		request.fail(function(jqXHR, textStatus, errorThrown) {
			//$('#isbn').val('');
			$('#isbn-error').html(isbn_input);
			$('#isbn').prop("disabled", false);
			$('.loading-message').hide();
			$('#isbn-notfound').show();
		});

	});

	if ( $('#isbn').val() !== "" ) {
		console.log("triggering");
		$("#isbn-button").click();
	}

	// Enter = søk
	$('#isbn').on('keypress', function(evt) {
		if (evt.which == 13) {
			$("#isbn-button").trigger('click');
		}
	});

});
</script>