<h2>Brukerinnstillinger</h2>
<form>
	<fieldset id="innstillinger-fieldset">
		<label for="username">Brukernavn:</label>
		<input name="username" type="text" disabled="true" value="<%= session[:user] %>">
		<br/>
		<label for="email">E-post:</label>
		<input id="email" name="email" type="email">
		<span  class="error email-validation">Ugyldig epostadresse</span>
		<br/>
		<label for="password1">Nytt passord:</label>
		<input id="passord1" type="password" name="password1">
		<span class="error password-validation"></span>
		<br/>
		<label for="password2">Gjennta passord:</label>
		<input id="passord2" type="password" name="password2">
		<span class="error password-validation"></span>
		<br/>
		<label>&nbsp;</label>
		<button id="lagre-innstillinger" class="medium green">Lagre</button>
	</fieldset>
</form>