<div class="main-left">
	<h2>Brukerinnstillinger</h2>
	<form action="/innstillinger" method="POST">
		<fieldset id="innstillinger-fieldset">
			<label for="username">Brukernavn/Epost:</label>
			<input name="username" type="text" disabled="true" value="<%= session[:user] %>">
			<br/>
			<label for="name">Navn:</label>
			<input id="oldname" type="hidden" value="<%= session[:name] %>">
			<input id="name" name="name" type="text" value="<%= session[:name] %>">
			<span  class="error name-validation"></span>
			<br/>
			<label for="password1">Nytt passord:</label>
			<input id="passord1" type="password" name="password1">
			<span class="error password-validation"></span>
			<br/>
			<label for="password2">Gjenta passord:</label>
			<input id="passord2" type="password" name="password2">
			<span class="error password-validation"></span>
			<br/>
			<label>&nbsp;</label>
			<button id="lagre-innstillinger" class="medium green">Lagre</button>
		</fieldset>
	</form>
</div>
<div class="main-right">
	<%= erb :login %>
</div>