<div id="list-rsslink">
	<span class="hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser"><img class="rss" src="img/feed-icon-28x28.png"></span><input id="rss-link" type="text" disabled="disabled" value="<%= @feed_url %>"></input>
	<button class="long green" id="rss-copy">Kopier RSS-lenken</button>
</div>

<h3><%= @count %> treff</h3>
<div id="results_inner">
	<%= erb :list_inner %>
</div>
<div class="clearfix"></div>