<div id="mylist-box" class="right-bar">
	<h3>Mine lister</h3>
	<div class="my-lists">
		<div class="single-list">
			<div class="myliste-tittel">Uten tittel</div>
			<div class="mytriangle open"></div>
			<div class="clearfix"></div>
			<div class="myliste-innhold" style="display:none">
				<ol class="sortable"></ol>
				<input class="liste-navn" placeholder="navn på lista" type="text"><button class="save-list">lagre</button>
			</div>
		</div>
	</div>
</div>