<h3>Hva er Bokanbefalinger?</h3>
<ul>
	<li>en database med bokanbefalinger som er skrevet av bibliotekansatte</li>
	<li>et sted der du kan registrere dine egne bokanbefalinger og lese andres</li>
	<li>en mulighet for å samle anbefalinger etter forskellige temaer og etter ulike målgrupper (for eksempel: "Bøker fra 90-tallet", "Fantasybøkerfor barn", "Tynne bøker for voksne"). Du vil få anbefalingene samlet i lister som vil se omtrent slik ut:
		<ol>
			<li>en kort liste med anbefalingstittel, kort teaser, omslagsbilde og hvem anbefalingen er skrevet av</li>
			<li>en fullstendig liste med hele anbefalingsteksten i tillegg</li>
		</ol>
	</li>
</ul>
<h3>Utbyttet for biblioteket ditt</h3>
<p>Som bidragsyter får biblioteket ditt tilgang til en stor mengde bokanbefalinger skrevet av bibliotekansatte over hele landet. Biblioteket kan fritt benytte alle bokanbefalinger i basen slik det selv ønsker.</p>
<h3>Hvordan blir jeg med?</h3>
<p>I prototypen må du ta kontakt med oss direkte for å bli registrert som brukere. <br>
	Kontaktinfo:  <a href="mailto:deichman.digibib@kul.oslo.kommune.no">deichman.digibib@kul.oslo.kommune.no</a></br>
</p><h3>Bakgrunn</h3>
<p>Bokanbefalinger er resultat av et prosjekt ved Deichmanske bibliotek, støttet av Nasjonalbiblioteket. Basen er forløpig en prototyp, og tjenesten er derfor ikke ferdig utviklet.Om du har innspill til hvordan prosjektet kan utvikles videre, vil vi gjerne at du tar kontakt med oss på e-post: <a href="mailto:deichman.digibib@kul.oslo.kommune.no">deichman.digibib@kul.oslo.kommune.no</a></br></p>
<h3>Videre utvikling</h3>
På sikt er planen å:
<ul>
	<li>samle anbefalinger om alle typer medier</li>
	<li>gi brukerne muligheter for å lagre egengenererte lister over ulike typer anbefalinger</li>
	<li>spre anbefalingene ut igjen på de enkelte biblioteks nettsider, blogger og infoskjermer</li>
</ul>