<div class="main-left grid_unit l-grid_unit--span-5">
	<p class="lokkeskrift">Kjære bibliotekansatt!</p>
	<p>Velkommen til et nettsted for deg som vil formidle bøker!</p>

	<p/>Her kan du søke blant tusenvis av bokomtaler skrevet av kollegaer i hele Norge. Du kan lage deg lister av bokanbefalinger og bruke dem slik du vil. For eksempel kan du vise dem på ditt biblioteks nettside, på en blogg eller på infoskjermer i biblioteket. Du kan også beholde dem som huskelister til en bokprat eller en utstilling.</p>

	<p>Her finnes anbefalinger av bøker for både barn, unge og voksne. Du finner både korte og lengre anbefalinger, både av skjønnlitteratur og fagbøker.</p>

	<p>Bli med og legg inn dine egne anbefalinger! Eller bare kos deg med andres.</p>

	<p>Velbekomme!</p>

	<p>Du og ditt bibliotek kan bidra på tre måter:</p>
	<ul>
		<li>Dere får brukernavn og passord slik at dere kan logge dere på anbefalinger.deichman.no. Da kan dere mate bokanbefalinger inn i basen via et enkelt skjema.</li>
		<li>Dersom dere har en Wordpress-blogg installert, kan dere installere et plugin som oppretter en egen innholdstype "Bokanbefalinger". Pluginet pusher anbefalingene direkte til bokanbefalingsbasen. Betingelsen er at bloggen ligger på en egen server, altså ikke på wordpress.com</li>
		<li>Dere kan koble dere mot databasen direkte via APIet vårt, for eksempel ved å opprette en kobling mellom hjemmesiden deres og bokanbefalingsbasen. Les mer om APIet her: <a href="http://anbefalinger.deichman.no/om-api">http://anbefalinger.deichman.no/om-api</a></li>
	</ul>
	<p>Du kan lese mer om Bokanbefalingsbasen på <a href="http://digital.deichman.no/blog/2013/07/10/bokanbefalinger-er-i-drift-bli-med-du-ogsa/">Digital utvikling sin blogg</a>.Hvis du har spørsmål, ta kontakt med oss på e-post: <a href="mailto:digitalutvikling@gmail.com">digitalutvikling@gmail.com</a></p>

	<p>Bokanbefalinger er støttet av <a href="http://nb.no">Nasjonalbiblioteket</a> og utviklet av <a href="http://deichman.no">Deichmanske bibliotek</a>.</p>
</div>
<div class="main-right grid_unit l-grid_unit--span-2">
	<%= erb :login %>
</div>