<div class="main-left grid_unit l-grid_unit--span-5">
	<h3>Glemt passord?</h3>
	<p>Skriv inn epost-adressen din så sender vi deg ett nytt:</p>

	<form action="/new-password" method="POST">
		<input type="text" name="email"/>
		<button id="new-password" type="submit">Send meg nytt passord</button>
	</form>
</div>