<div class="main-left">
	<p class="lokkeskrift">Søk etter anbefalinger</p>
	<form id="advanced-search">
		<label>Boktittel</label><input type="text"><br>
		<label>Forfatter av boken</label><input type="text"><br>
		<label>ISBN-nummer</label><input type="text"><br>
		<label>Illustratør</label><input type="text"><br>
		<label>Oversetter</label><input type="text"><br>
		<label>Anbefalers navn</label><input type="text"><br>
		<button type="submit" class="red medium">Søk</button>
		<div class="clearfix"></div>
	</form>
</div>

<div class="main-right">
	<%= erb :login %>
</div>