<div class="main-left">
	<p class="lokkeskrift">Her er ulike anbefalingslister du kan ta med deg til din egen nettside eller blogg</p>

	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalinger av bøker for voksne</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalinger av bøker for barne og ungdom</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalte fantasybøker for barn og ungdom</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalte bøker fra 90-tallet</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Tynne bøker (under 200 sider) for voksne</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalinger av Karin Fossums krimbøker</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Anbefalinger av bøker om Henrik Ibsen</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>
	<div class="anbefalingsliste">
		<div class="liste-tittel">Bøker av amerikanske forfattere</div>
		<div class="triangle open"></div>
		<div class="clearfix"></div>
		<div class="liste-innhold" style="display:none">
			<ol>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
				<li><a href="#">Tittel på boken</a> av Forfatter Forfattersen</li>
			</ol>
			<div class="lise-link">
<span class="rss-info hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser">RSS</span><input class="rss-link" class="text" disabled="disabled" value="http://anbefalinger.deichman.no/feed?author=Hamsun&emne=kaker&sider+100&sider-200"></input>
			</div>
		</div>
	</div>


</div>
<div class="main-right">
	<%= erb :login %>
</div>