<div class="main-left grid_unit l-grid_unit--span-5">
	<h2>SKRIVETIPS</h2>

	<h3 id="1">1. Skriv for nettet!</h3>
	<p>En nettartikkel bør ha maks 600 ord. Skriv kort, godt og enkelt, og unngå fagsjargong, fremmedord og forkortelser. Skriv i aktiv form (presens).</p>
	<p>Bruk meningsbærende titler, ingresser og mellomoverskrifter i anbefalingen. Husk korte avsnitt!</p>
	<p>Tenk tradisjonell nyhetsoppbygging, og skriv det viktigste først. Flett triggerord (ord leserne ser etter når de skumleser, for eksempel forfatternavn, tittel og sjanger) naturlig inn i anbefalingen.</p>
	<p>Handlingsreferater skrives i presens. Bruk toppen fire setninger på handlingsreferat. Få med hvem som er hovedperson(er), hva vedkommendes hovedprosjekt er og hva vedkommende gjør for å få dette til.</p>
	<p>Frist gjerne leseren med et sitat fra boka.</p>

	<h3 id="2">2. Startforslag</h3>
	<p>Du kan begynne anbefalingen med å si noe om:</p>
	<ul>
		<li><a href="#6">Leseopplevelsen</a></li>
		<li><a href="#4">Sensasjon, bruk gjerne statistikk fra biblioteket</a></li>
		<li><a href="#5">Bokens tema</a></li>
		<li><a href="#6">Forfatterens prosjekt</a></li>
		<li><a href="#5">Hovedpersonens dilemma</a></li>
		<li><a href="#8">Din ekspertise</a></li>
	</ul>

	<h3 id="3">3. Målgrupper</h3>
	<p>Tenk gjennom dette før du begynner å skrive: Hva vil du skrive? For hvem? Hvorfor? Hvor og når skal det publiseres?</p>
	<p>Henvend deg til en person (du-jeg-vi-oss) og ikke en gruppe. Vær relevant og aktuell i forhold til målgruppe og mottakerens alder når du skriver. Henvender du deg for eksempel til en nybegynner eller en mer erfaren leser? Ønsker du å informere den allerede interesserte leser, eller introduserer du noe nytt?</p>

	<h3 id="4">4. Innfallsvinkel</h3>
	<p>Velg en innfallsvinkel til anbefalingen. Forslag: </p>
	<ul>
		<li>Boka som begivenhet: Markedsføring, reaksjoner, innholdets forhold til virkeligheten, omslagets utseende/virkning.</li>
		<li>Bokas aktualitet: Angår boka leseren i dag? Tar den opp et aktuelt tema? Er det en gammel bok som har fått fornyet aktualitet?</li>
		<li>Boka som sensasjon: Bryter den med leserens forventninger og normer? Har den skapt eller kan den skape konflikt?</li>
		<li>Bokas virkning: Gir boka ny innsikt? Får den deg til å tenke eller handle annerledes?</li>
		<li>Bokas identifikasjonskraft: Vekker boka spesielle følelser? Har den klare paralleller til filmer, bøker eller andre kunstuttrykk som folk kjenner?</li>
	</ul>

	<h3 id="5">5. Sjanger og tema</h3>
	<p>Skriver du om sakprosa, bør følgende kommenteres: Er utvalget av fakta sant? Relevant? Viktig? Hva kan man lære av denne boka?</p>
	<p>Skriver du om skjønnlitteratur, kan du kommentere tema, motiv og budskap. Hva handler dette egentlig om?</p>
	<p>Kom med eksempler på hva som er interessant eller gir lyst til å lese videre. Forslag:</p>
	<table>
		<tr>
			<td>Psykologi</td><td>Hvorfor oppfører personen seg slik? Hva har skjedd i fortida?</td>
		</tr>
		<tr>
			<td>Problem</td><td>Hvordan vil det gå med hovedpersonen?</td>
		</tr>
		<tr>
			<td>Fantasy</td><td>Hva skal seieren koste? Hva er magiens begrensninger?</td>
		</tr>
		<tr>
			<td>Grøsser/scifi &nbsp;</td><td>Er det skummelt/ekkelt/fascinerende nok?</td>
		</tr>
		<tr>
			<td>Krim</td><td>Hvem er forbryteren?</td>
		</tr>
	</table>

	<h3 id="6">6. Vurderingskriterier</h3>
	<p>Vekt de ulike kriteriene ut fra hva målgruppen din kan ha interesse av. Forslag til kriterier kan være:</p>
	<ul>
		<li>Objektivt kriterium: Lykkes forfatteren med prosjektet sitt? Er det helstøpt/gjennomført? Hvem kan boka passe for?</li>
		<li>Bokas betydning: personlig, samfunnsmessig, litteraturhistorisk (boka gir innsikt, omhandler viktige tema eller lignende)</li>
		<li>Bokas originalitet</li>
		<li>Din leseopplevelse: Er boka troverdig? Vekker den følelser? Er den overraskende? Skaper den gjenkjennelse?</li>
		<li>Varte boken etter at du hadde lest siste side?</li>
	</ul>

	<h3 id="7">7. Personlig stemme</h3>
	<p>For å vekke gjenkjennelse hos leseren, kan du gjerne starte anbefalingen med en personlig setning. Entusiasme når du skriver er bra, men unngå ubegrunnede påstander og generaliseringer (for eksempel “denne kommer alle garantert til å le av!”). </p>
	<p>Prøv å finne ut hvorfor forfatteren har skrevet boka før du tolker og kommer med din personlige mening. Hvordan var leseopplevelsen din? Ble du overrasket? Imponert? Irritert? Hvis du opplevde det siste, kan det være fordi du og boka er en dårlig match? Fordi boka provoserer? Fordi din forventning til boka kolliderer med virkeligheten? Eller er det fordi boka er dårlig?</p>

	<h3 id="8">8. Faglig ekspertise</h3>
	<p>Bygg tillit til leseren ved å bruke bisetninger som viser at du har lest mye og kjenner forfatterskapet, sjangeren eller liknende (men bare referer til andre verk/forfattere, hvis du tror målgruppen du skriver for kjenner referansen). Ekspertise kan også være å vise til (livs)erfaring.</p>
	<p>En annen måte å vise ekspertisen din på, er å komme med en liten faglig innvending eller kommentar til boka.</p>

	<h3 id="9">9. Hvorfor anbefale?</h3>
	<p>Når bibliotekansatte skriver og publiserer anbefalinger, yter vi service og gjør fagkunnskapen vår tilgjengelig gjennom tradisjonelle og nye kanaler. Ved hjelp av anbefalingene ønsker vi å matche bok og leser, skape leselyst og få flere til å låne bøker, også utenom bibliotekets åpningstider.</p>
	<p>Bibliotekets anbefalinger er uten kommersielle føringer, og vi kan derfor sette fokus på det vi vil. Vi kan velge å belyse det som befinner seg litt i skyggen, som for eksempel kulturfondbøker og rariteter. Vi kan også velge å være dagsaktuelle og på den måten være en aktør i samfunnsdebatten.</p>

	<p>LYKKE TIL!</p>

	<p><em>Bokanbefalingsbasen krediterer Guri Fjeldberg, Marta Norheim og Halogen v/Tine Kvisle Sletterød og Kari Breidal for skrivetipsene.</em></p>
</div>
<div class="main-right grid_unit l-grid_unit--span-2">
	<%= erb :login %>
</div>