<h2>MULIGE SKRIVETIPS</h2>
(basert på Guri Fjeldbergs foredrag)

<h3>Din skrivestemme</h3>
<ul>
	<li>Vær entusiastisk, men ikke kom med ubegrunnede påstander og generaliseringer</li>
	<li>Kom alltid med en liten innvending mot boken, slik viser du ekspertisen din</li>
	<li>Hvis du er svært kritisk til boken, ikke undergrav din egen ekspertise bare for å være snill</li>
	<li>Ha én personlig setning i hver anmeldelse. Den kan brukes som start på bokanbefalingen og gjerne vekke gjenkjennelse hos leseren.</li>
	<li>Bygg tilliten til leseren ved å bruke bisetninger som viser at du har lest mye og kjenner forfatterskapet, genren eller liknende. Du kan referere til andre verk/forfattere hvis målgruppen du skriver for kjenner referansen.</li>
	<li>Ekspertise kan også være at du viser til livserfaring. For eks.: Du tror ikke på handling på grunn av at du har erfaring på området.</li>
	<li>Få gjerne med noe om leseopplevelsen din. Tre viktige triggerfølelser er: overraska, imponert og irritert. Hvis du opplevde det siste, er det fordi du og boka er dårlig match, fordi boka er dårlig, fordi boka provoserer eller fordi din forventning til boka og virkeligheten kolliderer?</li>
</ul>


<h3>Utforming</h3>
<ul>
	<li>I en nettartikkel bør du ha <strong>maks</strong> 600 ord.</li>
	<li>Husk å komme med en smaksprøve/et sitat.</li>
	<li>Husk mellomtitler. Letter lesingen og fungerer som lim, hvis teksten ikke helt henger sammen.</li>
	<li>Startforslag: «Så spennende at…» (leseopplevelse), «617 personer har lånt boken» (sensasjon, bruk statistikk), «Denne boka setter søkelys på…» (tema), «Han fant brev på loftet, det ble det bok av» (forfatterens prosjekt), «Du er 15 år og gravid, hva gjør du?» (dilemma) eller referer til et annet verk (din ekspertise).</li>
	<li>Handlingsreferat skal alltid være i presens!</li>
	<li>Ha gjerne egne bokser med relevante lenker og bokas tittel, forfatter, utgivelsesår, ev. «Del av serie».</li>
	<li>Lenk gjerne til: Store norske leksikon, forfatterens nettside, andre anmeldelser, intervjuer.</li>
	<li>Trigger-ord: Google finner din tekst hvis triggerordet står i anmeldelsens tittel, teaser og/eller lenke.</li>
	<li>Forslag til overskrift: *Bokas tittel*/*Din tittel*/lenke: *Kari Nordmann har anmeldt tittel av forfatter* eller *Din tittel*/*Undertittel med bokas tittel og forfatter* </li>
</ul>

<h3>Genre</h3>
<ul>
	<li>Hvis du skriver om sakprosa, kommenter følgende: Er utvalget av fakta sant? (Sjekk om fakta er hentet rett fra Wikipedia.) Relevant? Viktig?</li>
	<li>Hvis du skriver om dikt eller noveller, kan du vise deg som ekspert ved å kommentere tema, motiv og budskap. Hva handler dette egentlig om?</li>
	<li>Gjør research. Hvorfor har forfatter brukt tid på dette? Få gjerne med din leseopplevelse.</li>
</ul>

<h3>Handling</h3>
<ul>
	<li>Bruk toppen fire setninger på handlingsreferat. Få med hvem som er hovedperson(er), hva vedkommendes hovedprosjekt er og hva vedkommende gjør for å få dette til.</li>
	<li>Unngå å avsløre for mye av handling, enten ved å skrive at det skjer noe i boka som ikke kan røpes, eller ved å skrive at leser må slutte å lese hvis man ikke vil at handlingen skal røpes.</li>
</ul>

<h3>Vinkling</h3>
<ul>
	<li>Velg deg et perspektiv å beskrive boka ut fra. Forslag:<br/>
		<strong>Boka som begivenhet:</strong> Kommenter markedsføring, omslag, innholdets forhold til virkeligheten, reaksjoner den har skapt.<br/>
		<strong>Bokas aktualitet:</strong> Angår boka leseren i dag? Tar den opp et aktuelt tema? Er det en gammel bok som har fått fornyet aktualitet?<br/>
		<strong>Boka som sensasjon:</strong> Bryter den med leserens forventninger og normer? Har den skapt eller kan skape konflikt? Hvis det er sensasjonelt at den har fått en pris kan du ta det med, hvis ikke, vurder å droppe det.<br/>
		<strong>Bokas virkning:</strong> Gir boka ny innsikt? Får den deg til å tenke eller handle annerledes?<br/>
		<strong>Bokas identifikasjonskraft:</strong> Vekker boka spesielle følelser? Har den klare paralleller til filmer, bøker eller andre kunstuttrykk som folk kjenner?</li>
</ul>

<h3>Leselyst</h3>
<ul>
	<li>Kom med eksempler på hva som er interessant/gir lyst til å lese videre.</li>
	<li>Ta gjerne utgangspunkt i genren eller temaet.</li>
	<li>Krim: Hvem er forbryteren?</li>
	<li>Psykologi: Hvorfor oppfører personen seg slik? Hva har skjedd i fortida?</li>
	<li>Problem: Hvordan vil det gå med hovedpersonen?</li>
	<li>Fantasy: Hva skal seieren koste? Hva er magiens begrensninger?</li>
	<li>Grøsser/sci fi: Er det skummelt/ekkelt/fascinerende nok?</li>
</ul>

<h3>Vurderingskriterier</h3>
<ul>
	<li>Originalitet</li>
	<li>Leseopplevelse: troverdighet (– skill mellom usannsynlig og umulig, gjør handlingens ramme at det blir sannsynlig?), følelser, overraskende, gjenkjennelse</li>
	<li>Betydning: personlig, samfunnsmessig, litteraturhistorisk (gir innsikt, viktig tema, man leser for å lære)</li>
	<li>Objektivt kriterium: lykkes forfatteren med prosjektet sitt? Er det helstøpt/gjennomført? Hvem kan boka passe for? (Bruk gjerne dette hvis du ikke liker genren/boka/forfatteren.)</li>
	<li>Varte boken etter at du hadde lest siste side?</li>
	<li>Vekt de ulike kriteriene ut fra hva målgruppen din kan ha interesse av.</li>
</ul





