<div id="tips-box" class="right-bar">
	<img src="/img/skrivetips.png" alt="skrivetips"/>
	<p>Her har vi samlet noen skrivetips som du kan bruke når du skriver en anbefaling. Hold muspekeren over for å se tipsene.</p>
	<ol>
		<li class="tooltip-target" id="tip-target-1">Hvorfor anbefale?</li>
		<li class="tooltip-target" id="tip-target-2">Målgrupper</li>
		<li class="tooltip-target" id="tip-target-3">Skriv for nettet!</li>
		<li class="tooltip-target" id="tip-target-4">Innfallsvinkel</li>
		<li class="tooltip-target" id="tip-target-5">Sjanger og tema</li>
		<li class="tooltip-target" id="tip-target-6">Faglig ekspertise</li>
		<li class="tooltip-target" id="tip-target-7">Personlig stemme</li>
		<li class="tooltip-target" id="tip-target-8">Startforslag</li>
		<li class="tooltip-target" id="tip-target-9">Vurderingskriterier</li>
	</ol>

	<div class="tooltip-content" id="tip-content-1"><h3 id="1">1. Hvorfor anbefale?</h3><p>Ved å skrive anbefalinger, yter vi service og gjør fagkunnskapen vår tilgjengelig gjennom tradisjonelle og nye kanaler, også utenom åpningstider. Ved å gi brukerne anbefalinger, ønsker vi å matche bok og leser, skape leselyst og få flere til å låne bøker. Bibliotekets anbefalinger er uten kommersielle føringer, og vi har en unik mulighet for å sette fokus på noe ikke alle andre gjør. Vi kan trekke fram kulturfondbøker og rariteter, og belyse det som befinner seg litt i skyggen.</p></div>

	<div class="tooltip-content" id="tip-content-2"><h3 id="2">2. Målgrupper</h3>
	<p>Tenk på målgruppen når du skriver. Hvilken aldersgruppe henvender du deg til? En nybegynner eller en mer erfaren leser? Skriver du for å informere den allerede interesserte leser, eller introduserer du noe nytt? Vær relevant og aktuell i forhold til målgruppen, og henvend deg til en person (du-jeg-vi-oss) og ikke en gruppe. Husk at leseren er et menneske som er interessert i mye forskjellig!</p></div>

	<div class="tooltip-content" id="tip-content-3"><h3 id="3">3. Skriv for nettet!</h3>
	<p>En nettatikkel bør ha maks 600 ord. Skriv kort, godt og enkelt, og unngå fagsjargong, fremmedord og forkortelser.</p>
	<p>Før du begynner, bør du ha dette klart for deg: <em>Hva</em> vil du skrive? For <em>hvem? Hvorfor? Hvor? Når? Hvordan?</em> Tenk tradisjonell nyhetsoppbygging når du skriver. Bruk den omvendte pyramiden, det vil si skriv det viktigste først. Bygg teksten opp med tittel, ingress og brødtekst. Bruk meningsbærende titler, ingresser og mellomoverskrifter. Husk korte avsnitt!</p>
	<p>Bruk aktiv form når du skriver (presens og imperativ). Gi gjerne en smaksprøve/et sitat fra boka. Bruk triggerord (ord leserne ser etter når de skumleser), for eksempel forfatternavn, tittel og sjanger, og flett disse naturlig inn i anbefalingen.</p>
	<p>Handlingsreferater skrives i presens. Bruk toppen fire setninger på handlingsreferat. Få med hvem som er hovedperson(er), hva vedkommendes hovedprosjekt er og hva vedkommende gjør for å få dette til.</p>
	<p>Bruk lenker når du skriver for internett! Hva er det relevant for leseren å lese mer om?
	NB! Bokanbefalingsbasen har foreløpig ingen god løsning for lenker i teksten, så unnlat det helst her. Etterhvert vil lenker kunne registreres i en egen boks.</p></div>

	<div class="tooltip-content" id="tip-content-4"><h3 id="4">4. Innfallsvinkel</h3>
	<p>Velg en innfallsvinkel til anbefalingen. Forslag: </p>
	<ul>
		<li>Boka som begivenhet: Markedsføring, omslag, innholdets forhold til virkeligheten, reaksjoner.</li>
		<li>Bokas aktualitet: Angår boka leseren i dag? Tar den opp et aktuelt tema? Er det en gammel bok som har fått fornyet aktualitet?</li>
		<li>Boka som sensasjon: Bryter den med leserens forventninger og normer? Har den skapt eller kan den skape konflikt?</li>
		<li>Bokas virkning: Gir boka ny innsikt? Får den deg til å tenke eller handle annerledes?</li>
		<li>Bokas identifikasjonskraft: Vekker boka spesielle følelser? Har den klare paralleller til filmer, bøker eller andre kunstuttrykk som folk kjenner?</li>
	</ul></div>

	<div class="tooltip-content" id="tip-content-5"><h3 id="5">5. Sjanger og tema</h3>
	<p>Hvis du skriver om sakprosa, bør følgende kommenteres: Er utvalget av fakta sant? Relevant? Viktig? Hva kan man lære av denne boka?</p>
	<p>Hvis du skriver om skjønnlitteratur, kan du kommentere tema, motiv og budskap. Si noe om selve teksten. Hva handler dette egentlig om? </p>
	<p>Kom med eksempler på hva som er interessant eller gir lyst til å lese videre. Ta gjerne utgangspunkt i sjangeren eller temaet:</p>
	<table>
		<tr>
			<td>Psykologi</td><td>Hvorfor oppfører personen seg slik? Hva har skjedd i fortida?</td>
		</tr>
		<tr>
			<td>Problem</td><td>Hvordan vil det gå med hovedpersonen?</td>
		</tr>
		<tr>
			<td>Fantasy</td><td>Hva skal seieren koste? Hva er magiens begrensninger?</td>
		</tr>
		<tr>
			<td>Grøsser/scifi &nbsp;</td><td>Er det skummelt/ekkelt/fascinerende nok?</td>
		</tr>
		<tr>
			<td>Krim</td><td>Hvem er forbryteren?</td>
		</tr>
	</table></div>

	<div class="tooltip-content" id="tip-content-6"><h3 id="6">6. Faglig ekspertise</h3>
	<p>Bygg tillit til leseren ved å bruke bisetninger som viser at du har lest mye og kjenner forfatterskapet, sjangeren eller liknende (men bare referer til andre verk/forfattere, hvis du tror målgruppen du skriver for kjenner referansen). Ekspertise kan også være å vise til (livs)erfaring. En annen måte å vise ekspertisen din på, er å komme med en liten faglig innvending eller kommentar til boka.</p></div>

	<div class="tooltip-content" id="tip-content-7"><h3 id="7">7. Personlig stemme</h3>
	<p>Ha gjerne én personlig setning i hver anbefaling. Den kan brukes som start på bokanbefalingen, for å vekke gjenkjennelse hos leseren. Vær entusiastisk når du skriver, men ikke kom med ubegrunnede påstander og generaliseringer. Gjør research, prøv å finne ut hvorfor forfatteren har skrevet boka. Tolk boka og si din personlige mening, og si gjerne noe om leseopplevelsen din. Ble du overrasket? Imponert? Irritert? Hvis du opplevde det siste, kan det være fordi du og boka er en dårlig match? Fordi boka provoserer? Fordi din forventning til boka kolliderer med virkeligheten? Eller er det fordi boka er dårlig?</p></div>

	<div class="tooltip-content" id="tip-content-8"><h3 id="8">8. Startforslag</h3>
	<p>Startforslag kan være å si noe om:</p>
	<ul>
		<li>leseopplevelsen</li>
		<li>Sensasjon, bruk gjerne statistikk fra biblioteket</li>
		<li>Bokens tema</li>
		<li>Forfatterens prosjekt</li>
		<li>Hovedpersonens dilemma</li>
		<li>Din ekspertise</li>
	</ul></div>

	<div class="tooltip-content" id="tip-content-9"><h3 id="9">9. Vurderingskriterier</h3>
	<p>Vekt de ulike kriteriene ut fra hva målgruppen din kan ha interesse av. Forslag til kriterier kan være:</p>
	<ul>
		<li>Objektivt kriterium: Lykkes forfatteren med prosjektet sitt? Er det helstøpt/gjennomført? Hvem kan boka passe for?</li>
		<li>Bokas betydning: personlig, samfunnsmessig, litteraturhistorisk (den gir innsikt, omhandler viktig tema eller lignende)</li>
		<li>Bokas originalitet</li>
		<li>Din leseopplevelse: Er boka troverdig? Vekker den følelser? Er den overraskende? Skaper den gjenkjennelse?</li>
		<li>Varte boken etter at du hadde lest siste side?</li>
	</ul></div>

</div>