<div id="tips-box" class="right-bar">
	<img src="/img/skrivetips.png" alt="skrivetips"/>
	<p>Her har vi samlet noen skrivetips som du kan bruke når du skriver en anbefaling. Trykk på lenken og erfar mer om trallala...</p>
	<ol>
		<a href="/skrivetips#1"><li>Hvorfor anbefale?</li></a>
		<a href="/skrivetips#2"><li>Målgrupper</li></a>
		<a href="/skrivetips#3"><li>Skriv for nettet!</li></a>
		<a href="/skrivetips#4"><li>Innfallsvinkel</li></a>
		<a href="/skrivetips#5"><li>Sjanger og tema</li></a>
		<a href="/skrivetips#6"><li>Faglig ekspertise</li></a>
		<a href="/skrivetips#7"><li>Personlig stemme</li></a>
		<a href="/skrivetips#8"><li>Startforslage</li></a>
		<a href="/skrivetips#9"><li>Vurderingskriterier</li></a>
	</ol>

</div>