<div id="tips-box" class="right-bar">
	<img src="/img/skrivetips.png" alt="skrivetips"/>
	<p>Her har vi samlet noen skrivetips som du kan bruke når du skriver en anbefaling. Trykk på lenken og erfar mer om trallala...</p>
	<ol>
		<a href="/skrivetips"><li>Anbefalingens hensikt</li></a>
		<a href="/skrivetips"><li>Målgruppen</li></a>
		<a href="/skrivetips"><li>Bokanbefaling for nettet</li></a>
		<a href="/skrivetips"><li>Ulike sjangere</li></a>
		<a href="/skrivetips"><li>Handlingen i boka</li></a>
		<a href="/skrivetips"><li>Valg av perspektiv</li></a>
		<a href="/skrivetips"><li>Skape leselyst</li></a>
		<a href="/skrivetips"><li>Din skrivestemme</li></a>
		<a href="/skrivetips"><li>Vurderinskriterier</li></a>
	</ol>

</div>