/* ------------------------------------------------------------------------
   BASE (extracted from normalize.css)
   ------------------------------------------------------------------------ */

[hidden] { display: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section, summary { display: block; }
button, input { line-height: normal; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;  cursor: pointer; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { ox-sizing: border-box;
    padding: 0; }
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
abbr[title] { border-bottom: 1px dotted; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000;}
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative;
    vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
figure { margin: 0; }
fieldset { border: 2px solid white; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: none;}
button, input, select, textarea { font-family: inherit;   font-size: 100%;
    margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: #c12121; text-decoration: none;}
a:hover { text-decoration: underline;}
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
img { border: 0; }
b, strong { font-weight: bold; }
html {
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: #444;
    line-height:1.5em;
}

h1 { font-size: 2em; }
h1, h2, h3 { color :#333; line-height: 1.1em;}

/* ------------------------------------------------------------------------
   BEGIN APPLICATION STYLE
   ------------------------------------------------------------------------ */

/* main layout */

#main {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 1em;
}

/* global styles */

.clearfix { clear:both;}

.right { float: right;}

.left { float: left;}

.gray { background: #808080; }

.light-gray { background: #ddd;}

.red { background: #c12121;}

.red-text { color: #c12121;}

.green { background: #71C120;}

.loading-message { display: none;}

.feil { font-size: 0.9em !important; font-weight: bold; margin:0 !important;}

.lokkeskrift { font-family: 'Sacramento', cursive; font-size:50px;
                line-height: 1.2em; color: #c12121; margin:25px 0;}

.no-bold { font-weight: normal }

.border { border-bottom: 1px solid #ccc;}


@-webkit-keyframes yellow-fade {
   0% {background: #FFFDD0;}
   100% {background: #eee;}
}

@keyframes yellow-fade {
   0% {background: #FFFDD0;}
   100% {background: #eee;}
}

.highlight {
   -webkit-animation: yellow-fade 1s ease-in 1;
   animation: yellow-fade 1s ease-in 1;
}

img.loading { margin: 0 1.5em;}

img.rss { width: 22px; height: 22px; margin: auto; margin-bottom:-6px;}

img.cover {
  width: 150px;
  max-height: 200px;
}

button:active { position:relative; top: 3px; }

button.medium {
  padding: 4px;
  width: 130px;
  color: #fff;
  border-radius: 3px;
  border:0;
  line-height:1.4em;
  margin-right:0.5em;
}

button.big {
  padding: 4px 20px;
  width: 180px;
  color: #fff;
  border-radius: 3px;
  border:0;
  line-height:1.4em;
  margin-right:0.5em;
}

button.long {
  padding: 4px;
  min-width: 150px;
  color: #fff;
  border-radius: 3px;
  border:0;
  line-height:1.2em;
  margin-right:0.5em;
  font-size:15px;
}

button.pluss {
  padding: 2px;
  width: 20px;
  height: 20px;
  background: #eee;
  color: #444;
  font-family: monospace;
  font-size: 14px;
  font-weight:bold;
  float: right;
  position: relative;
}

button.pluss:hover:after {
  font-size: 12px;
  font-family: Arial;
  background: #eee;
  border-radius: 1px;
  color: #888;
  content: attr(tooltip);
  left: -200px;
  top: -4px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 150px;
}

button.pluss:hover:before{
    border: solid;
    border-color: #fff #eee;
    border-width: 10px 0 10px 10px;
    top: -2px;
    left: -20px;
    content: "";
    position: absolute;
    z-index: 99;
}

.book-cover {
  text-align: center;
  width: 150px;
  height: 200px;
  border: 10px solid white;
}

p.error {
  background: #F9D654;
  padding: 15px;
  margin:5px 0;
  max-width: 970px;
  clear: both;
  color: #222;
  font-weight: bold;
}

p.error-small {
  background: #F9D654;
  padding: 15px;
  margin:10px 0;
  max-width: 667px;
  clear: both;
  color: #222;
  font-weight: bold;
}

p.info {
  background: #eee;
  padding: 15px;
  margin: 5px 0;
  max-width: 970px;
  clear: both;
  color: #222;
  font-weight: bold;
}

label { font-weight: bold;}

.cover-author {
  font-size:9px !important;
}

.cover-title {
  font-size:10px !important;
}


/* tooltips */

.tooltip-content {
  display: none;
  position: absolute;
  margin-top:100px;
  padding: 10px;
  border: 2px solid #555;
  background-color: #FFFDD0;
  width: 600px;
  font-size:15px;
}

.tooltiplist { font-size: 15px;}
.tooltiplist li { margin-top: 0.5em;}
.tooltip-target {
  cursor: pointer;
}
/* header */

header {
  margin:0;
  padding:0;
  background: #c12121;
  color: #fff;
  width: 100%;
  min-height: 60px;
  position: fixed;
  top:0;
  left:0;
  z-index:999;
}

#header-inner {
  max-width: 1000px;
  height: 100%;
  margin: auto;
}

#header-links { display: inline-block; float: right;}

#header-links a {
  color: #fff;
  letter-spacing: 0.1em;
  margin-right: 20px;
  line-height: 1.5em;
}

#logo {
  font-family: 'Sacramento', cursive;
  font-size:35px;
  color: #fff;
  display: inline-block;
  float:left;
  width: 212px;
  height: 40px;
  margin-top: 20px;
}

#search-form {
  float: right;
  display: inline-block;
  margin-top:-7px;
}

#search-input {
  margin-left:10px;
  height:20px;
  padding:3px;
  width: 260px;
  font-size: 1em;
}

#search-button {
  margin-left:16px;
  border: 1px solid black;
  color: #fff;
  background: #999;
  border-radius: 3px;
  letter-spacing:0.05em;
  height:28px;
  width:50px;
}

/* Navbar */

#navbar {
  list-style:none;
  color:#fff;
  min-height: 46px;
  padding:0;
}

#navbar li {
  background: #444;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 150px;
  margin-bottom:2px;
  text-align: center;
  border-radius: 2px;
  line-height:46px;
}

span.inner-navbutton {
  width:100%;
  height:100%;
  display: inline-block;
}
span.inner-navbutton:hover {
  font-weight:bold;
}


#navbar li.active {
  font-weight: bold;
}

@media only screen and (min-width: 830px) {
  #navbar li.active :after {
    position: absolute;
    content: ' ';
    height: 0;
    width: 0;
    top: 45px;
    left:62px;
    border: 10px solid transparent;
    border-top-color: #444;
  }
}

#navbar a, #nabbar a:visited  {
  color: #fff;
  text-decoration: none;
}

/* right bar */

.right-bar {
  border: 2px solid #ccc;
  background: #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
}

/* Login-bar */

#login-box, #mylist-box { text-align: center; position: relative;}

#login-box p {
  margin-top: 40px;
  font-size: 1.4em;
  letter-spacing: 0.03em;
}

span.small-link { font-size:0.9em; display:block; padding: 0 24px; margin:0.5em; text-align:left;}

#login-box input {
 width: 140px;
 margin: 4px;
}

.button-big {
  margin:10px;
  padding: 10px;
  min-width: 145px;
  color: #fff;
  font-size: 1.3em;
  background: #c21211;
  border-radius: 3px;
  border: none;
  line-height:1.6em;
}

#login-form input {
 font-size: 0.9em;
 padding: 2px;
}

#logg-inn-her { font-family: 'Sacramento', cursive; font-size:32px;
                line-height: 1.2em; color: #c12121; margin-left: -10px; }
#logg-inn-pil { position: absolute; left:5px;}

/* Mine lister */

.single-list { background:#ddd; padding: 2px; margin-bottom: 8px;}
ol.sortable { padding-left: 20px;}
ol.sortable li { font-size:12px; text-align: left; background:#eee; border:1px solid #ddd; padding:0 2px;}
.liste-navn { width: 130px; margin-left:15px; font-size: 14px;}
.save-list, .delete-list, .edit-list-title { font-size: 14px; min-width: 46px; margin:8px;}
a.remove { margin-right:10px; font-size:12px; float: right; cursor: pointer;}
.sortable-placeholder { border: 1px dashed #888 !important;}


/* skrivetips bar */

#skrivetips { font-family: 'Sacramento', cursive; font-size:42px; display: block;
              line-height: 1.2em; color: #c12121; margin-top:20px; text-align: center;}

#tips-box p {
  font-size: 1.0em;
  letter-spacing: 0.03em;
}

#tips-box ol { margin-left: -16px; font-weight: normal; }
#tips-box li { font-size: 1.1em; height:2.5em; }
#tips-box a, #tips-box a:visited  { color: #444;}

/* forside */

.forside-boks {
  background:#eee;
  margin: 10px;
  padding: 5px;
  font-size:14px;
  color: #c12121;
  border: 2px solid #aaa;
}

/* new review */

#review-form { max-width: 600px; margin-top: 30px;}

#review-form input,#review-form textarea {
  width:100%;
  border: 2px solid #ccc;
  padding: 8px;
  margin-bottom:20px;
}

#review-form select { padding: 4px;}
#review-form label { font-weight: normal !important }

#review-heading { width: 100%; position: relative;}
#review-heading div { float:left;}
#review-heading p { margin-left:30px;}

.redstar { color: #c12121; font-size: 20px;}

#audiences-fieldset { display:inline-block; right: right; vertical-align: top;}
.audiences { float:left; width:15px !important; height:15px; display:inline; margin-right:1em;}
.checklabel { width:100px; line-height:15px; display:inline-block; height:15px;}
.missing { border:2px solid #E87600 !important;}

.reviewform-other { position:absolute; top: 175px; left:172px;}

/* isbn search */
.isbn-form { background-color:#eee; padding:15px; width:90%; border: 2px solid #ccc;}
.isbn-form-new { background-color:#eee; padding:15px; width:82%;
                  text-align: left; border: 2px solid #ccc; margin-top: 20px;}

#isbn { margin:10px}
#isbn-notfound { display: none;}
#isbn-results { margin-top:20px; padding: 15px;
                height:250px; width:90%; display:none;}
#isbn-results div { float: left; max-width:50%;}
#isbn-results p { margin-left: 30px;}
#isbn-results button { float:right;}
.isbn-author { font-weight: bold; }
.isbn-title { font-size: 1.5em;}
.isbn-work-title { font-size:0.9em;}
/* search results */

a.work-link-big { text-decoration: none; color:#c12121; }
a:hover.work-link-big { text-decoration: underline }

.search-work {
  clear:both;
  padding-top: 30px;
  width:100%;
}

ul.search-list { list-style: none; }
ul.search-list li { display:inline-block; float:left; margin:8px;}

.book-description { float: left; text-align:top; max-width: 800px;}
.book-description a { text-decoration: none; }

h3.author {
  background: #eee;
  font-weight: bold;
  line-height: 2em;
  padding: 0.2em;
}

.top-link { position: relative;}
.top-link a {
  position: absolute;
  left: 640px; top: -50px;
  text-decoration: none;
  font-size: small;}

p.author { margin-left:30px; }
p.author a { color: #444; font-weight: bold;}
p.title {
  margin-left:30px;
  font-size: 1.3em;
  color: #c21211;
}

.review-snippet {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dashed #ccc;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}
.review-date {
  float: left;
  width: 180px;
  text-align: center;
}

/* single review page */

a.author-link { text-decoration: none; color:#c12121; }
a:hover.author-link { text-decoration: underline }

a.work-link { text-decoration: none; color:#444; }
a:hover.work-link { text-decoration: underline }


.review-text {
  width:100%;
  clear:both;
  font-size:14px;
}

.review-info {
  float: left;
  width: 70%;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  position:relative;
}

.review-teaser { padding: 1em;}

.other-reviews { font-size:14px; margin:0; }
.other-teaser { font-size:14px; margin-top:1em;}


.select-list {
  position: absolute;
  top: 35px;
  right: 0px;
  width: 150px;
  height: 80px;
  padding: 5px;
  background: #eee;
  display:none;
}

.select-list:before{
    border: solid;
    border-color: #eee #fff;
    border-width: 0 10px 10px 10px;
    top: -10px;
    right: 0;
    content: "";
    position: absolute;
    z-index: 99;
}

.select-list { font-size: 14px; z-index:5000;}
.select-list select { width: 100%;}
.select-list button { float: right; margin: 8px 0 8px 8px;}


/* listegenertor */
#kriterium-container label { font-weight: normal;}
.kriterium-outer { width: 85%; padding:8px;
                   background:#fff; margin-top:10px; float:left; }
.kriterium-add   { width: 85%; padding:8px; margin-top:10px; float:left;}
.kriterium-inner { display: none; margin-left: 20px; disiplay: inline-block; font-size: 13px;}
input.number { width: 40px;}
select.kriterium { vertical-align:top;}
.fjern {  float:right; margin-right:10px;}

#list-results { margin: 40px 0;}
#list-rsslink { margin-top: 40px; height: 24px; vertical-align: bottom;}
#rss-link { margin-left:6px; width:68%; font-size: 13px; padding: 2px; height:18px;}
#rss-copy { margin-left: 1em;}
.inner-input { width: 250px ;}
span.jslink { cursor: pointer; color: #c12121;}
span.jslink:hover { text-decoration: underline;}


/* se lister */
.anbefalingsliste { background:#eee; font-size: 14px; width:95%; padding: 1%; margin-bottom:1em;}
.anbefalingsliste li { margin: 0.5em;}
.rss-link { margin-left:6px; width:67%; font-size: 13px; padding: 2px; height:18px;}
.liste-tittel { font-size: 1.5em; display:inline-block; float:left; cursor: pointer;}
.myliste-tittel { font-size: 16px; display:inline-block; float:left; cursor: pointer;}

.liste-innhold { clear: both;}
.triangle { font-size:1.5em; display:inline-block; float:right; cursor: pointer;}
.mytriangle { font-size:20px; display:inline-block; float:right; cursor: pointer;}
.close:after {content: '▲'; }
.open:after {content: '▼'; }
.rss-copy { margin-left: 1em;}

/* alle anbefalinger */

.search-all { width: 300px; display:inline-block; float:left;}
.listevisning { margin: 30px 0;}
.liste-img { float: left; width: 100px; height: 150px; display: inline-block; overflow: hidden; text-align: center; padding:4px;margin-right:1em;}
.liste-img img { width: 100px; }
.liste-info { float: left; width: 77%; font-size: 14px; display: inline-block; position:relative; }
.liste-title { color: #c12121; font-weight: bold; font-size:16px; margin:0;}
.liste-title a { text-decoration: none;}
.liste-title a:hover { text-decoration: underline;}
.liste-author {border-bottom: 1px solid #ddd; font-size:16px; margin:0;}
.liste-under { margin:2px 0 ;}
.liste-reviewer { color: #c12121; text-decoration:none;}
.liste-reviewer:hover { text-decoration:underline;}
.liste-date { color: #999 ;}
.liste-teaser { font-size: 13px;}
.liste-pagination { clear:both; font-size: 14px; margin:20px 0;
                    text-align: right;}
.tops { width: 94%; }
.bottoms {border-top:1px solid #ddd;}


/* mine anbefalinger */

.my-review { margin-top:1em; height:230px; clear:both; position: relative;}
.my-reviews-info { float: left; height:200px; width:500px;display:inline-block;}
.my-reviews-header { margin-top: 1em; height: 45px; width: 85%; }
#my-reviews-sorting { float:right; margin-top:10px;}
.my-review p { margin:0.4em;}
.date { font-size:0.9em; color: #c12121;}
.review-title { font-size:1.2em; font-weight: bold;}
.isbn { font-size:0.9em;}
.my-reviews-teaser { font-size:13px; }
.my-reviews-audiences { font-size:0.9em;}
.bottom { position:absolute; bottom: 20px; }
.draft { display:none;}

/* innstillinger */

#innstillinger-fieldset { width: 90%; background-color:#eee; padding-top:2em;}
#innstillinger-fieldset label { line-height:2em; margin-right:1em;
                                display:inline-block; width:160px; text-align:right;}
#innstillinger-fieldset button { margin-top:1em}
span.error { background-color: #F9D654; display:none; padding:0.2em;}


/* avansert søk */
#advanced-search { background:#eee; border:2px solid #ccc; padding:1em; width: 88%;}
#advanced-search label { width: 170px; display:inline-block; min-height:35px;}
#advanced-search input { margin: 5px; width: 300px;}
#advanced-search button { float: right;}

#search-results { margin: 40px 0; }
#search-results p { font-size:14px; margin:0;}
.search-hit { clear:left; width: 90%; border-bottom: 1px solid #ccc; display:block; margin-top:1em; position:relative;}
.search-hit span { display:inline-block;}
.num { font-size:14px;}
p.search { width: 90%;}

/**
 * HINT- A CSS tooltip library
 */

.hint { position: relative; display: inline-block;}

.hint:before, .hint:after {
      position: absolute;
      opacity: 0;
      z-index: 1000000;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
  pointer-events: none;
}


.hint:hover:before, .hint:hover:after {
  opacity: 1;
}

.hint:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  position: absolute;
}

.hint:after {
  content: attr(data-hint);
  width: 200px;
  height: 200px;
  background: rgba(225, 225, 225, 0.95);
      color: #444;
      padding: 8px 10px;
      font-size: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* top */

.hint--top:before {
  bottom: 100%;
  left: 50%;
  margin: 0 0 -18px 0;
  border-top-color: rgba(225, 225, 225, 0.9);
}

.hint--top:after {
  bottom: 100%;
  left: 50%;
  margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
  margin-bottom: -10px;
}

.hint--top:hover:after {
  margin-bottom: 2px;
}

/* default: bottom */

.hint--bottom:before {
  top: 100%;
  left: 50%;
  margin: -14px 0 0 0;
  border-bottom-color: rgba(225, 225, 225, 0.9);
}

.hint--bottom:after {
  top: 100%;
  left: 50%;
  margin: -2px 0 0 -10px;
}

.hint--bottom:hover:before {
  margin-top: -6px;
}

.hint--bottom:hover:after {
  margin-top: 6px;
}

/* right */

.hint--right:before {
  left: 100%;
  bottom: 50%;
  margin: 0 0 -4px -8px;
  border-right-color: rgba(0,0,0,0.9);
}

.hint--right:after {
  left: 100%;
  bottom: 50%;
  margin: 0 0 -13px 4px;
}

.hint--right:hover:before {
  margin: 0 0 -4px -0;
}

.hint--right:hover:after {
  margin: 0 0 -13px 12px;
}

/* left */

.hint--left:before {
  right: 100%;
  bottom: 50%;
  margin: 0 -8px -4px 0;
  border-left-color: rgba(0,0,0,0.9);
}

.hint--left:after {
  right: 100%;
  bottom: 50%;
  margin: 0 4px -13px 0;
}

.hint--left:hover:before {
  margin: 0 0 -4px 0;
}

.hint--left:hover:after {
  margin: 0 12px -13px 0;
}

