# encoding: UTF-8

# -----------------------------------------------------------------------------
# settings.rb - application settings
# -----------------------------------------------------------------------------

module Settings

  # External data sources:

  SPARQL = "http://host:8890/sparql/"
  SPARUL = "http://host:8890/sparql-auth/"
  USER = "user"
  PASSWORD = "password"
  AUTH_METHOD = "digest"
  SECRET_SESSION_KEY = "secret"
  API = "http://example.com/api"
  GRAPHS = {:review => "http://data.deichman.no/reviews",
            :book => "http://data.deichman.no/books",
            :api => "http://data.deichman.no/apigraph",
            :base => "http://data.deichman.no" }

  # Formatting:

  REVIEWS_PER_PAGE = 25

  # Contents:

  EXAMPLEFEEDS =
  [{:title => "Anbefalinger av bøker for voksne",
    :feed => "http://anbefalinger.deichman.no/feed?audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fadult"},
   {:title => "Anbefalinger av bøker for barn og ungdom",
   :feed => "http://anbefalinger.deichman.no/feed?audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fjuvenile&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_0-5&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_6-7&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_8-9&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_10-11&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_12-15"},
   {:title => "Anbefalte fantasybøker for barn og ungdom",
    :feed => "http://anbefalinger.deichman.no/feed?audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fjuvenile&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_0-5&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_6-7&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_8-9&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_10-11&audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fages_12-15&genres=http%3A%2F%2Fdata.deichman.no%2FgenreBroader%2Ffantastisk"},
   {:title => "Anbefalte bøker fra 90-tallet",
    :feed => "http://anbefalinger.deichman.no/feed?years_from=1990&years_to=2000"},
   {:title => "Tynne bøker (under 200 sider) for voksne",
    :feed => "http://anbefalinger.deichman.no/feed?audience=http%3A%2F%2Fdata.deichman.no%2Faudience%2Fadult&pages_from=0&pages_to=200"},
   {:title => "Anbefalinger av Karin Fossums krimbøker",
     :feed => "http://anbefalinger.deichman.no/feed?authors=http%3A%2F%2Fdata.deichman.no%2Fperson%2Fx26297400&genres=http%3A%2F%2Fdata.deichman.no%2FgenreBroader%2Fkrim_og_spenning"},
   {:title => "Anbefalinger av bøker om Henrik Ibsen",
   :feed => "http://anbefalinger.deichman.no/feed?persons=http%3A%2F%2Fdata.deichman.no%2Fperson%2Fx14062100"},
   {:title => "Bøker av amerikanske forfattere",
    :feed => "http://anbefalinger.deichman.no/feed?nationalities=http%3A%2F%2Fdata.deichman.no%2Fnationality%2Fam"}]
end
